# Virtual environment
.venv/

# Streamlit config
.streamlit/

# Python cache files
__pycache__/
**/__pycache__/
*.py[cod]

# Cache in specific folders
Dashboard/__pycache__/
Dashboard/guards/__pycache__/
