# Virtual environment
.venv/

# Streamlit config
.streamlit/

__pycache__
Dashboard_Streamlit/__pycache__/
Dashboard_Streamlit/guards/__pycache__/

Dashboard_App/interactive-backend/venv

Dashboard_App/interactive-backend/.env